*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;

}
.container .header{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}
.container .header .logo{
    position: absolute;
    top: 50px;
    left: 80px;
}
.container .header .logo a{
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
    text-shadow: 2px 2px 15px rgba(68, 68, 68, 0.5) ;
    color: #7a72ff;
}
.container .search-bar{
    position: absolute;
    top: 50px;
    right: 80px;
    display: flex;
    align-items: center;
    height: 45px;
    width: 150px;
    padding: 0px 15px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 0px gray;
    border-radius: 30px ;
    background-color: white;

}
.container .search-bar input{
    position: absolute;
    right: 15px;
    font-size: 15px;
    width: 100px;
    height: 30px ;
    outline: none;
    border: none;
    padding: 0px 10px;
    background-color: transparent;
}
.container .search-bar input::placeholder{
    font-weight: 400;
    color: #1d1d1d;
    font-family: poopins;
    letter-spacing: 2px;
    font-size: 0.8rem;
}


/* section-1 */
.section-1{
    position: absolute;
    left: 15%;
    transform: translate(-15%, 50%);
    display: flex;
    align-items: center;
}
.section-1 img{
    height: 300px;
    padding-left: 15%;
}
.section-1 .t-button{
    padding-left: 200px;
   
}
.section-1 .t-button h1, h2{
    font-family: Roboto;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 4rem;
    margin: 0;
    line-height: 60px;
}
.section-1 .t-button h1{
    letter-spacing: 30px;
    font-size: 5rem;
}
span{
    color: #7a72ff;
    font-family: myriad pro;
}
.section-1 .t-button .btn{
    height: 40px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #2f2e41;
    cursor: pointer;
    font-family: calibari;
    outline: none;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 0.5px;
    margin-top: 30px;
    border-radius: 20px;
    border: transparent !important;
    box-shadow: 0px 0px 10px 2px blue;
    transition: 1s;

}
.section-1 .t-button .btn:hover{
    box-shadow: 0px 0px 10px 2px gray;
    background-color: #7a72ff;
}

/* social Aria */
.social-aria{
    position: fixed;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    background-color: aliceblue;
    box-shadow: 0px 0px 10px 0px gray;
    border-radius: 25px;
    padding: 10px 15px;
}
.social-aria a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 0px;
    text-decoration: none;
}
.social-aria a i{
    color: gray;
    font-size: 1.5rem;
}
.social-aria a i:hover{
    color: #4e45fd;
}

/* Product Section */

.product-section{
    width: 85%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 5px rgb(245, 244, 244);
    margin: 30px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px 20px;
    position: relative;
    background-size: 1000px;
    border-radius: 10px;
}
.product-section h3{
    font-size: 2rem;
    font-family: myriad pro;
    text-align: center;
    text-shadow: 2px 2px 10px gray;
    margin: 30px;
    letter-spacing: 2px;
    color: #323543;
    font-weight: bold;
    text-transform: uppercase;  
}
.product{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0;
    width: 100%;
}
.product-box{
    position: relative;
    width: 253px;
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    margin: 10px 30px;
    background-color: #f1f1ff; 
}
.product-box a{
    color: rgb(96, 97, 97);
    font-size: 1.1rem;
    text-decoration: none;
}
.product-box:hover{
    box-shadow: 0px 0px 10px 5px rgb(202, 200, 200);
    background-color: white;
}
.product-box p{
    color: #575758;
}
.product-box img{
    height: 180px;
}
.buy-btn{
    position: absolute;
    left: 50%;
    bottom: -15px;
    transform: translatex(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 120px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: linear-gradient(120deg, #6b60ec 20%, #a166f4);
    color: wheat;
    cursor: pointer;
    transform: 0.5s;
    opacity: 0;
}
.product-box:hover .buy-btn{
    display: flex;
    opacity: 1;
    bottom: 0;
}
.product-box:hover :last-child{
    color: white;
    transition: all ease 1s;
}
/* This is about  */
.about{
    width: 85%;
    margin: 30px auto;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* box-shadow: 0px 0px 10px 5px #d9dbdb; */
    padding: 30px;
    margin-bottom: 150px !important;

}
.text-box{
    width: 45%;
    height: 400px;
    padding-top: 80px ;

}
.text-box h1{
    color: #6b60ec;
    font-weight: 700;
    font-size: 3rem;
    letter-spacing: 2px;
    margin: 0;
    text-transform: uppercase;
    
}
.text-box h4{
    font-weight: 700;
    font-size: 2rem;
    margin: 10px 0px;
    color: #333333;
    font-family: myriad pro; 
}
.text-box p{
    text-align: justify;
    color: #bdbdbd;
    font-size: 1rem;
    letter-spacing: 0.5px;
    font-family: myriad pro;

}
.image-box{
    width: 45%;
    height: 400px;
}
.image-box img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Notifaction Section */
.Notification{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}
.Notification h1{
    font-size: 2rem;
    font-weight: bold;
    color: #1d1d1d;
}
.notification-input{
    width: 500px;
    height: 60px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: 2px 2px 10px 2px rgb(224, 223, 223);
    padding: 5px 20px;
    margin-top: 20px;

}
.notification-input input{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 15px;
    background-color: transparent;
    padding-right: 10px;
}
.notification-input button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 130px;
    background-color: #202020;
    border-radius: 20px;
    outline: none;
    border: none;
    color: white;
    font-weight: bold;
    font: 300;
    font-size: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.notification-input button:hover{
    background-color: #6f67f8;
    transform: all ease 0.5s;
}

/* this is footer */
footer{
    background-color: rgb(36, 35, 35);
    padding: 20px;
}
footer p{
    color: white;
    text-align: center;